@import "tailwindcss";

@theme {
  --font-sans: var(--font-kanit), sans-serif;
}

/* Global Reset and Styles */
* {
  box-sizing: border-box;

}

html,
body,
#root,
.main-wrapper {
  background-color: #0C0C0C !important;
  color: #D7E2EA;
  font-family: var(--font-kanit), sans-serif;
  overflow-x: clip;
}

/* Custom CSS Classes */
.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}